# Supabase Configuration
# Get these from https://supabase.com after creating a project
VITE_SUPABASE_URL=https://jnzwuknbqpihuhbdbhhv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impuend1a25icXBpaHVoYmRiaGh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2OTA2MTYsImV4cCI6MjA3NTI2NjYxNn0.PuUVXaP5GrSYaIFCmxoV5R1-245ofdpx6NTREzrf5u0


#Supa:access_tokken=sbp_0d618b456fb3b34b7c02eb7a7fa72fdc0fd8e8d8

# Stripe Configuration (for payments)
# Get these from https://dashboard.stripe.com/apikeys
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51SbTOsHMGj3zEZe3tlQozbppIeGSuArJHWikhD3GI2SOm0nuSHrjbklV0OSqClAUsaOryDbSl3wYrKgnCAVvWTWq004y4T6AV4
# Create products in Stripe Dashboard and copy their Price IDs
VITE_STRIPE_PRO_YEARLY_PRICE_ID=price_1SbTpKHMGj3zEZe3586HkWpi
VITE_STRIPE_PRO_MONTHLY_PRICE_ID=price_1SbTqDHMGj3zEZe3yVefckze
VITE_STRIPE_LIFE_PRICE_ID=price_1SbTrmHMGj3zEZe32sSaJdTj

# Analytics Configuration
# Google Analytics 4 Measurement ID
VITE_GA_MEASUREMENT_ID=G-DZ0RF4PEHT

# Plausible Analytics Domain (if using Plausible)
VITE_PLAUSIBLE_DOMAIN=
